body {
	background-color: #000000;
	font-family: "Times New Roman";
	font-color: #800080;
}
p{
	font-color: #FF0000;
}
h1{
	border-bottom: 3px solid blue;
	font-color: #FF0000;
	font-size: 16px;
}
a{
	color: pink;
}
a:hover{
	background-color: purple;
}