body {
	background-color: #FF851B;
	font-style: roman;
	color: blue;
}
p{
	text-decoration-color: white;
}
h1{
	border-bottom: 3px solid red;
	font-color: #FF0000;
	font-size: 16px;
}
a{
	color: black;
}
a:hover{
	background-color: purple;
}
figure{
	font-style: italic;
}
u{
	font-color: #FF0000;
}
blockquote {
    margin: 0;
}

blockquote p {
    padding: 12px;
    background: #808080;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}
